In [1]:
import pandas as pd
import os
import sys

def add_src_to_path():
    current_dir = os.path.dirname(os.path.abspath(__file__)) if '__file__' in globals() else os.getcwd()
    for _ in range(5):
        src_path = os.path.join(current_dir, 'src')
        if os.path.isdir(src_path):
            if src_path not in sys.path:
                sys.path.insert(0, src_path)
            return src_path
        parent_dir = os.path.dirname(current_dir)
        if parent_dir == current_dir:
            break
        current_dir = parent_dir
    raise FileNotFoundError("Could not find 'src' directory.")

add_src_to_path()
from config import SYNTHETIC_DATA_PATH

In [4]:
# Load revenue data
revenue_df = pd.read_csv(os.path.join(SYNTHETIC_DATA_PATH, '02_sub_revenue_monthly.csv'))
revenue_df['month'] = pd.to_datetime(revenue_df['month'])

In [5]:
revenue_df.head()

,account_id,month,tenure_months,seats,plan,MRR,ARR,churn_flag,event_type,MRR_change
0,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-01-01,1,82,Pro,2870,34440,0,Retained (Flat),2870.0
1,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-02-01,2,82,Pro,2870,34440,0,Retained (Flat),0.0
2,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-03-01,3,82,Pro,2870,34440,0,Retained (Flat),0.0
3,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-04-01,4,82,Pro,2870,34440,0,Retained (Flat),0.0
4,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-05-01,5,82,Pro,2870,34440,0,Retained (Flat),0.0

In [6]:
customer_id = revenue_df['account_id'].iloc[0]
print(customer_id)

b53d3d5a-c35a-4cc0-864e-af095f4571be

In [8]:
customer_data = revenue_df[revenue_df['account_id'] == customer_id].sort_values(by='month')
customer_data

,account_id,month,tenure_months,seats,plan,MRR,ARR,churn_flag,event_type,MRR_change
0,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-01-01,1,82,Pro,2870,34440,0,Retained (Flat),2870.0
1,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-02-01,2,82,Pro,2870,34440,0,Retained (Flat),0.0
2,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-03-01,3,82,Pro,2870,34440,0,Retained (Flat),0.0
3,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-04-01,4,82,Pro,2870,34440,0,Retained (Flat),0.0
4,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-05-01,5,82,Pro,2870,34440,0,Retained (Flat),0.0
5,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-06-01,6,82,Pro,2870,34440,0,Retained (Flat),0.0
6,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-07-01,7,82,Pro,2870,34440,0,Retained (Flat),0.0
7,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-08-01,8,82,Pro,2870,34440,0,Retained (Flat),0.0
8,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-09-01,9,82,Pro,2870,34440,0,Retained (Flat),0.0
9,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-10-01,10,82,Pro,2870,34440,0,Retained (Flat),0.0
10,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-11-01,11,82,Pro,2870,34440,0,Retained (Flat),0.0
11,b53d3d5a-c35a-4cc0-864e-af095f4571be,2022-12-01,12,82,Pro,2870,34440,0,Retained (Flat),0.0
12,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-01-01,13,82,Pro,2870,34440,0,Retained (Flat),0.0
13,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-02-01,14,82,Pro,2870,34440,0,Retained (Flat),0.0
14,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-03-01,15,91,Pro,3185,38220,0,Seat Expansion (+9),315.0
15,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-04-01,16,91,Pro,3185,38220,0,Retained (Flat),0.0
16,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-05-01,17,91,Pro,3185,38220,0,Retained (Flat),0.0
17,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-06-01,18,91,Pro,3185,38220,0,Retained (Flat),0.0
18,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-07-01,19,91,Pro,3185,38220,0,Retained (Flat),0.0
19,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-08-01,20,91,Pro,3185,38220,0,Retained (Flat),0.0
20,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-09-01,21,91,Pro,3185,38220,0,Retained (Flat),0.0
21,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-10-01,22,91,Pro,3185,38220,0,Retained (Flat),0.0
22,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-11-01,23,91,Pro,3185,38220,0,Retained (Flat),0.0
23,b53d3d5a-c35a-4cc0-864e-af095f4571be,2023-12-01,24,91,Pro,3185,38220,0,Retained (Flat),0.0
24,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-01-01,25,91,Pro,3185,38220,0,Retained (Flat),0.0
25,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-02-01,26,91,Pro,3185,38220,0,Retained (Flat),0.0
26,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-03-01,27,91,Pro,3185,38220,0,Retained (Flat),0.0
27,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-04-01,28,91,Pro,3185,38220,0,Retained (Flat),0.0
28,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-05-01,29,91,Pro,3185,38220,0,Retained (Flat),0.0
29,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-06-01,30,91,Pro,3185,38220,0,Retained (Flat),0.0
30,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-07-01,31,91,Enterprise,5460,65520,0,Plan Upgrade,2275.0
31,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-08-01,32,91,Enterprise,5460,65520,0,Retained (Flat),0.0
32,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-09-01,33,91,Enterprise,5460,65520,0,Retained (Flat),0.0
33,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-10-01,34,91,Enterprise,5460,65520,0,Retained (Flat),0.0
34,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-11-01,35,91,Enterprise,5460,65520,0,Retained (Flat),0.0
35,b53d3d5a-c35a-4cc0-864e-af095f4571be,2024-12-01,36,91,Enterprise,5460,65520,0,Retained (Flat),0.0

In [9]:
customer_data[['month','MRR','tenure_months','event_type']]

        month   MRR  tenure_months           event_type
0  2022-01-01  2870              1      Retained (Flat)
1  2022-02-01  2870              2      Retained (Flat)
2  2022-03-01  2870              3      Retained (Flat)
3  2022-04-01  2870              4      Retained (Flat)
4  2022-05-01  2870              5      Retained (Flat)
5  2022-06-01  2870              6      Retained (Flat)
6  2022-07-01  2870              7      Retained (Flat)
7  2022-08-01  2870              8      Retained (Flat)
8  2022-09-01  2870              9      Retained (Flat)
9  2022-10-01  2870             10      Retained (Flat)
10 2022-11-01  2870             11      Retained (Flat)
11 2022-12-01  2870             12      Retained (Flat)
12 2023-01-01  2870             13      Retained (Flat)
13 2023-02-01  2870             14      Retained (Flat)
14 2023-03-01  3185             15  Seat Expansion (+9)
15 2023-04-01  3185             16      Retained (Flat)
16 2023-05-01  3185             17      Retained (Flat)
17 2023-06-01  3185             18      Retained (Flat)
18 2023-07-01  3185             19      Retained (Flat)
19 2023-08-01  3185             20      Retained (Flat)
20 2023-09-01  3185             21      Retained (Flat)
21 2023-10-01  3185             22      Retained (Flat)
22 2023-11-01  3185             23      Retained (Flat)
23 2023-12-01  3185             24      Retained (Flat)
24 2024-01-01  3185             25      Retained (Flat)
25 2024-02-01  3185             26      Retained (Flat)
26 2024-03-01  3185             27      Retained (Flat)
27 2024-04-01  3185             28      Retained (Flat)
28 2024-05-01  3185             29      Retained (Flat)
29 2024-06-01  3185             30      Retained (Flat)
30 2024-07-01  5460             31         Plan Upgrade
31 2024-08-01  5460             32      Retained (Flat)
32 2024-09-01  5460             33      Retained (Flat)
33 2024-10-01  5460             34      Retained (Flat)
34 2024-11-01  5460             35      Retained (Flat)
35 2024-12-01  5460             36      Retained (Flat)

In [10]:
total_revenue = customer_data['MRR'].sum()
print(f"Total revenue: ${total_revenue:,.2f}")

Total revenue: $123,900.00

In [12]:
months_active = len(customer_data)
print(f"Months active: {months_active}")

Months active: 36

In [13]:
average_monthly_revenue = total_revenue / months_active
print(f"Average Monthly Revenue: ${average_monthly_revenue:,.2f}")

Average Monthly Revenue: $3,441.67

In [14]:
last_event = customer_data['event_type'].iloc[-1]  
print(f"Last event: {last_event}")

Last event: Retained (Flat)

In [15]:
print("\n" + "="*60)
print("SUMMARY")
print("="*60)
print(f"Customer ID: {customer_id}")
print(f"Months active: {months_active}")
print(f"Total revenue (LTV so far): ${total_revenue:,.2f}")
print(f"Status: {last_event}")

============================================================
SUMMARY
============================================================
Customer ID: b53d3d5a-c35a-4cc0-864e-af095f4571be
Months active: 36
Total revenue (LTV so far): $123,900.00
Status: Retained (Flat)