In [1]:
import pandas as pd
import os
import sys

def add_src_to_path():
    current_dir = os.path.dirname(os.path.abspath(__file__)) if '__file__' in globals() else os.getcwd()
    for _ in range(5):
        src_path = os.path.join(current_dir, 'src')
        if os.path.isdir(src_path):
            if src_path not in sys.path:
                sys.path.insert(0, src_path)
            return src_path
        parent_dir = os.path.dirname(current_dir)
        if parent_dir == current_dir:
            break
        current_dir = parent_dir
    raise FileNotFoundError("Could not find 'src' directory.")

add_src_to_path()
from config import SYNTHETIC_DATA_PATH

In [2]:
# Load revenue data
revenue_df = pd.read_csv(os.path.join(SYNTHETIC_DATA_PATH, '02_sub_revenue_monthly.csv'))
revenue_df['month'] = pd.to_datetime(revenue_df['month'])

In [3]:
revenue_df.head()

,account_id,month,tenure_months,seats,plan,MRR,ARR,churn_flag,event_type,MRR_change
0,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-01-01,1,17,Pro,425,5100,0,Retained (Flat),425.0
1,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-02-01,2,17,Pro,425,5100,0,Retained (Flat),0.0
2,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-03-01,3,17,Pro,425,5100,0,Retained (Flat),0.0
3,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-04-01,4,17,Pro,425,5100,0,Retained (Flat),0.0
4,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-05-01,5,17,Pro,425,5100,0,Retained (Flat),0.0

In [4]:
customer_id = revenue_df['account_id'].iloc[0]
print(customer_id)

c5b3e930-e0f9-4699-9d1d-237f3f49338c

In [5]:
customer_data = revenue_df[revenue_df['account_id'] == customer_id].sort_values(by='month')
customer_data

,account_id,month,tenure_months,seats,plan,MRR,ARR,churn_flag,event_type,MRR_change
0,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-01-01,1,17,Pro,425,5100,0,Retained (Flat),425.0
1,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-02-01,2,17,Pro,425,5100,0,Retained (Flat),0.0
2,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-03-01,3,17,Pro,425,5100,0,Retained (Flat),0.0
3,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-04-01,4,17,Pro,425,5100,0,Retained (Flat),0.0
4,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-05-01,5,17,Pro,425,5100,0,Retained (Flat),0.0
5,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-06-01,6,17,Pro,425,5100,0,Retained (Flat),0.0
6,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-07-01,7,17,Pro,425,5100,0,Retained (Flat),0.0
7,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-08-01,8,17,Pro,425,5100,0,Retained (Flat),0.0
8,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-09-01,9,17,Pro,425,5100,0,Retained (Flat),0.0
9,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-10-01,10,17,Pro,425,5100,0,Retained (Flat),0.0
10,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-11-01,11,17,Pro,425,5100,0,Retained (Flat),0.0
11,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-12-01,12,17,Pro,425,5100,0,Retained (Flat),0.0
12,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-01-01,13,17,Pro,425,5100,0,Retained (Flat),0.0
13,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-02-01,14,17,Pro,425,5100,0,Retained (Flat),0.0
14,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-03-01,15,17,Pro,425,5100,0,Retained (Flat),0.0
15,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-04-01,16,17,Pro,425,5100,0,Retained (Flat),0.0
16,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-05-01,17,17,Pro,425,5100,0,Retained (Flat),0.0
17,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-06-01,18,17,Enterprise,680,8160,0,Plan Upgrade,255.0
18,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-07-01,19,17,Enterprise,680,8160,0,Retained (Flat),0.0
19,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-08-01,20,17,Enterprise,680,8160,0,Retained (Flat),0.0
20,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-09-01,21,17,Enterprise,680,8160,0,Retained (Flat),0.0
21,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-10-01,22,17,Enterprise,680,8160,0,Retained (Flat),0.0
22,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-11-01,23,17,Enterprise,680,8160,0,Retained (Flat),0.0
23,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2023-12-01,24,17,Enterprise,680,8160,0,Retained (Flat),0.0
24,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-01-01,25,17,Enterprise,680,8160,0,Retained (Flat),0.0
25,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-02-01,26,17,Enterprise,680,8160,0,Retained (Flat),0.0
26,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-03-01,27,17,Enterprise,680,8160,0,Retained (Flat),0.0
27,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-04-01,28,17,Enterprise,680,8160,0,Retained (Flat),0.0
28,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-05-01,29,17,Enterprise,680,8160,0,Retained (Flat),0.0
29,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-06-01,30,26,Enterprise,1040,12480,0,Seat Expansion (+9),360.0
30,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-07-01,31,26,Enterprise,1040,12480,0,Retained (Flat),0.0
31,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-08-01,32,26,Enterprise,1040,12480,0,Retained (Flat),0.0
32,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-09-01,33,26,Enterprise,1040,12480,0,Retained (Flat),0.0
33,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-10-01,34,26,Enterprise,1040,12480,0,Retained (Flat),0.0
34,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-11-01,35,26,Enterprise,1040,12480,0,Retained (Flat),0.0
35,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2024-12-01,36,41,Enterprise,1640,19680,0,Seat Expansion (+15),600.0

In [6]:
customer_data[['month','MRR','tenure_months','event_type']]

        month   MRR  tenure_months            event_type
0  2022-01-01   425              1       Retained (Flat)
1  2022-02-01   425              2       Retained (Flat)
2  2022-03-01   425              3       Retained (Flat)
3  2022-04-01   425              4       Retained (Flat)
4  2022-05-01   425              5       Retained (Flat)
5  2022-06-01   425              6       Retained (Flat)
6  2022-07-01   425              7       Retained (Flat)
7  2022-08-01   425              8       Retained (Flat)
8  2022-09-01   425              9       Retained (Flat)
9  2022-10-01   425             10       Retained (Flat)
10 2022-11-01   425             11       Retained (Flat)
11 2022-12-01   425             12       Retained (Flat)
12 2023-01-01   425             13       Retained (Flat)
13 2023-02-01   425             14       Retained (Flat)
14 2023-03-01   425             15       Retained (Flat)
15 2023-04-01   425             16       Retained (Flat)
16 2023-05-01   425             17       Retained (Flat)
17 2023-06-01   680             18          Plan Upgrade
18 2023-07-01   680             19       Retained (Flat)
19 2023-08-01   680             20       Retained (Flat)
20 2023-09-01   680             21       Retained (Flat)
21 2023-10-01   680             22       Retained (Flat)
22 2023-11-01   680             23       Retained (Flat)
23 2023-12-01   680             24       Retained (Flat)
24 2024-01-01   680             25       Retained (Flat)
25 2024-02-01   680             26       Retained (Flat)
26 2024-03-01   680             27       Retained (Flat)
27 2024-04-01   680             28       Retained (Flat)
28 2024-05-01   680             29       Retained (Flat)
29 2024-06-01  1040             30   Seat Expansion (+9)
30 2024-07-01  1040             31       Retained (Flat)
31 2024-08-01  1040             32       Retained (Flat)
32 2024-09-01  1040             33       Retained (Flat)
33 2024-10-01  1040             34       Retained (Flat)
34 2024-11-01  1040             35       Retained (Flat)
35 2024-12-01  1640             36  Seat Expansion (+15)

In [7]:
total_revenue = customer_data['MRR'].sum()
print(f"Total revenue: ${total_revenue:,.2f}")

Total revenue: $23,265.00

In [8]:
months_active = len(customer_data)
print(f"Months active: {months_active}")

Months active: 36

In [9]:
average_monthly_revenue = total_revenue / months_active
print(f"Average Monthly Revenue: ${average_monthly_revenue:,.2f}")

Average Monthly Revenue: $646.25

In [10]:
last_event = customer_data['event_type'].iloc[-1]  
print(f"Last event: {last_event}")

Last event: Seat Expansion (+15)

In [11]:
print("\n" + "="*60)
print("SUMMARY")
print("="*60)
print(f"Customer ID: {customer_id}")
print(f"Months active: {months_active}")
print(f"Total revenue (LTV so far): ${total_revenue:,.2f}")
print(f"Status: {last_event}")

============================================================
SUMMARY
============================================================
Customer ID: c5b3e930-e0f9-4699-9d1d-237f3f49338c
Months active: 36
Total revenue (LTV so far): $23,265.00
Status: Seat Expansion (+15)

In [12]:
customer_ltv = revenue_df.groupby('account_id')['MRR'].sum().reset_index()
customer_ltv

                                 account_id    MRR
0      0001335f-4caf-44a5-ac03-77781677701b   1190
1      00014b2f-e3fd-4d84-9387-3cdc15676277    600
2      000315a9-0494-4966-a7c6-9bb524c0479a  14400
3      0003f03f-a362-4e8d-b2ed-3697df572960    900
4      0004c23a-4b4e-4fcc-aaf0-ec5aed4ba049   1450
...                                     ...    ...
58338  fff8de8e-7d9f-48ad-b379-2599769ba72f   9930
58339  fffade16-39ab-4758-885a-c44258ec8cde  12100
58340  fffc438c-8656-4430-801f-aae14a2247f5    750
58341  fffe15ec-852d-4349-9b66-70f04328b6f8    425
58342  fffeabb9-c2f4-4c62-b0f3-3474bc97ecab   6320

[58343 rows x 2 columns]

In [13]:
# This creates a Series (just one column of sums)
customer_ltv = revenue_df.groupby('account_id')['MRR'].sum()

In [14]:
customer_ltv.head()

account_id
0001335f-4caf-44a5-ac03-77781677701b     1190
00014b2f-e3fd-4d84-9387-3cdc15676277      600
000315a9-0494-4966-a7c6-9bb524c0479a    14400
0003f03f-a362-4e8d-b2ed-3697df572960      900
0004c23a-4b4e-4fcc-aaf0-ec5aed4ba049     1450
Name: MRR, dtype: int64

In [15]:
# Reset index turns it into a DataFrame with 2 columns
customer_ltv_df = customer_ltv.reset_index()

# Look at what columns we actually have
print(customer_ltv_df.columns)

Index(['account_id', 'MRR'], dtype='object')

In [16]:
# Convert to DataFrame for easier viewing
customer_ltv_df.columns = ['account_id', 'total_ltv']
customer_ltv_df.head(10)

                             account_id  total_ltv
0  0001335f-4caf-44a5-ac03-77781677701b       1190
1  00014b2f-e3fd-4d84-9387-3cdc15676277        600
2  000315a9-0494-4966-a7c6-9bb524c0479a      14400
3  0003f03f-a362-4e8d-b2ed-3697df572960        900
4  0004c23a-4b4e-4fcc-aaf0-ec5aed4ba049       1450
5  0005ecd9-f4a4-40a7-b4aa-37151509b4fa       1600
6  00061d8f-926e-46bf-996c-ce15c3a78277       1825
7  000654dd-f1a9-4e22-96ca-cf7c964868b6       7575
8  00087fdc-89c2-4274-8d39-c6e9482f0e06       4520
9  00090c70-6f84-4fea-b783-72b500f3586f       6080

In [17]:
print("LTV Statistics:")
print(f"Average LTV: ${customer_ltv_df['total_ltv'].mean():,.2f}")
print(f"Median LTV: ${customer_ltv_df['total_ltv'].median():,.2f}")
print(f"Min LTV: ${customer_ltv_df['total_ltv'].min():,.2f}")
print(f"Max LTV: ${customer_ltv_df['total_ltv'].max():,.2f}")

LTV Statistics:
Average LTV: $9,852.38
Median LTV: $4,560.00
Min LTV: $10.00
Max LTV: $102,600.00

In [18]:
top_customers = customer_ltv_df.sort_values('total_ltv', ascending=False).head(10)
top_customers

                                 account_id  total_ltv
58145  ff25f67c-c690-449e-ade3-68debb2aec34     102600
53154  e9d95ecf-2cd1-4bc7-a44f-2b7760b66160      98120
49080  d7f3614a-7ed8-4451-99d4-7201646dd38a      97720
17559  4d740bda-7c2c-4bbf-889f-a436f35636e1      97440
20578  5ab90b26-cb2b-4043-b599-efc1670d47e7      95280
8649   264ad78a-1cb0-4d72-b02e-f2da00dbc4f6      95160
13749  3c765435-339e-4529-af01-4c2f83d99610      95120
51279  e17ba64a-0c69-4f50-8e7d-90dd875b0159      94480
43030  bd91ebcc-dec8-4e23-abdc-df423bdd381b      93880
2544   0b3ebf2f-74fb-4f71-985c-b612553714d2      93840

In [19]:
total_customer = len(customer_ltv_df)
print(f"Total customer: {total_customer:,}")

Total customer: 58,343

In [20]:
# Check the accounts file
accounts_df = pd.read_csv('../../data/synthetic/01_accounts.csv')
print(f"Accounts in accounts file: {len(accounts_df):,}")

# Check unique accounts in revenue file
unique_in_revenue = revenue_df['account_id'].nunique()
print(f"Unique accounts in revenue file: {unique_in_revenue:,}")

# The difference
difference = len(accounts_df) - unique_in_revenue
print(f"Difference: {difference:,}")

Accounts in accounts file: 60,000
Unique accounts in revenue file: 58,343
Difference: 1,657

In [21]:
# For each customer, find their max tenure (how long they've been around)
customer_tenure = revenue_df.groupby('account_id')['tenure_months'].max().reset_index()
customer_tenure.columns = ['account_id', 'max_tenure']

customer_tenure.head()

                             account_id  max_tenure
0  0001335f-4caf-44a5-ac03-77781677701b          18
1  00014b2f-e3fd-4d84-9387-3cdc15676277           4
2  000315a9-0494-4966-a7c6-9bb524c0479a          10
3  0003f03f-a362-4e8d-b2ed-3697df572960           4
4  0004c23a-4b4e-4fcc-aaf0-ec5aed4ba049           5

In [22]:
# Combine LTV with tenure information
customer_summary = customer_ltv_df.merge(customer_tenure, on='account_id')
customer_summary.head()

                             account_id  total_ltv  max_tenure
0  0001335f-4caf-44a5-ac03-77781677701b       1190          18
1  00014b2f-e3fd-4d84-9387-3cdc15676277        600           4
2  000315a9-0494-4966-a7c6-9bb524c0479a      14400          10
3  0003f03f-a362-4e8d-b2ed-3697df572960        900           4
4  0004c23a-4b4e-4fcc-aaf0-ec5aed4ba049       1450           5

In [23]:
print("Tenure distribution:")
print(customer_summary['max_tenure'].describe())

Tenure distribution:
count    58343.000000
mean        17.068166
std          9.995606
min          1.000000
25%          8.000000
50%         16.000000
75%         25.000000
max         36.000000
Name: max_tenure, dtype: float64

In [24]:
# Filter to customers who have been around at least 3 months
customers_with_3m = customer_summary[customer_summary['max_tenure'] >= 3]['account_id']

# Get first 3 months of revenue for those customers only
first_3_months = revenue_df[
    (revenue_df['tenure_months'] <= 3) & 
    (revenue_df['account_id'].isin(customers_with_3m))
]

# Calculate 3-month LTV
ltv_3m = first_3_months.groupby('account_id')['MRR'].sum().reset_index()
ltv_3m.columns = ['account_id', 'ltv_3m']

print(f"Customers with 3+ months: {len(customers_with_3m):,}")
print(f"Average 3-month LTV: ${ltv_3m['ltv_3m'].mean():,.2f}")

Customers with 3+ months: 55,833
Average 3-month LTV: $1,053.52

In [25]:
# Filter to customers who have been around at least 6 months
customers_with_6m = customer_summary[customer_summary['max_tenure'] >= 6]['account_id']

# Get first 6 months of revenue for those customers only
first_6_months = revenue_df[
    (revenue_df['tenure_months'] <= 6) &
    (revenue_df['account_id'].isin(customers_with_6m))
]

# Calculate 6-month LTV
ltv_6m = first_6_months.groupby('account_id')['MRR'].sum().reset_index()
ltv_6m.columns = ['account_id', 'ltv_6m']

print(f"Customers with 6+ months: {len(customers_with_6m):,}")
print(f"Average 6-month LTV: ${ltv_6m['ltv_6m'].mean():,.2f}")

Customers with 6+ months: 49,545
Average 6-month LTV: $2,666.74

In [26]:
# Filter to customers who have been around at least 12 months
customers_with_12m = customer_summary[customer_summary['max_tenure'] >= 12]['account_id']

# Get first 12 months of revenue for those customers only
first_12_months = revenue_df[
    (revenue_df['tenure_months'] <= 12) &
    (revenue_df['account_id'].isin(customers_with_12m))
]

# Calculate 12-month LTV
ltv_12m = first_12_months.groupby('account_id')['MRR'].sum().reset_index()
ltv_12m.columns = ['account_id', 'ltv_12m']

print(f"Customers with 12+ months: {len(customers_with_12m):,}")
print(f"Average 12-month LTV: ${ltv_12m['ltv_12m'].mean():,.2f}")

Customers with 12+ months: 37,607
Average 12-month LTV: $6,088.94

In [27]:
ltv_summary = customer_summary \
    .merge(ltv_3m, on='account_id', how='left') \
    .merge(ltv_6m, on='account_id', how='left') \
    .merge(ltv_12m, on='account_id', how='left')

ltv_summary.head()

,account_id,total_ltv,max_tenure,ltv_3m,ltv_6m,ltv_12m
0,0001335f-4caf-44a5-ac03-77781677701b,1190,18,140.0,350.0,770.0
1,00014b2f-e3fd-4d84-9387-3cdc15676277,600,4,350.0,NaN,NaN
2,000315a9-0494-4966-a7c6-9bb524c0479a,14400,10,3200.0,8000.0,NaN
3,0003f03f-a362-4e8d-b2ed-3697df572960,900,4,600.0,NaN,NaN
4,0004c23a-4b4e-4fcc-aaf0-ec5aed4ba049,1450,5,550.0,NaN,NaN

In [28]:
ltv_summary.isnull().sum()

account_id        0
total_ltv         0
max_tenure        0
ltv_3m         2510
ltv_6m         8798
ltv_12m       20736
dtype: int64

In [29]:
# Check how many customers have each tenure milestone
print("Customers by tenure milestone:")
print(f"3+ months:  {(customer_summary['max_tenure'] >= 3).sum():,}")
print(f"6+ months:  {(customer_summary['max_tenure'] >= 6).sum():,}")
print(f"12+ months: {(customer_summary['max_tenure'] >= 12).sum():,}")

Customers by tenure milestone:
3+ months:  55,833
6+ months:  49,545
12+ months: 37,607

In [30]:
# Only customers with full 3 months
ltv_3m_avg = ltv_summary[ltv_summary['ltv_3m'].notna()]['ltv_3m'].mean()

# Only customers with full 6 months  
ltv_6m_avg = ltv_summary[ltv_summary['ltv_6m'].notna()]['ltv_6m'].mean()

# Only customers with full 12 months
ltv_12m_avg = ltv_summary[ltv_summary['ltv_12m'].notna()]['ltv_12m'].mean()

print("\nAVERAGE LTV (excluding customers who haven't reached milestone):")
print(f"3-month:  ${ltv_3m_avg:,.2f}")
print(f"6-month:  ${ltv_6m_avg:,.2f}")
print(f"12-month: ${ltv_12m_avg:,.2f}")

AVERAGE LTV (excluding customers who haven't reached milestone):
3-month:  $1,053.52
6-month:  $2,666.74
12-month: $6,088.94

In [31]:
# For customers who reached 12 months, compare their LTV at each stage
customers_12m = ltv_summary[ltv_summary['ltv_12m'].notna()]

print(f"For the {len(customers_12m):,} customers who reached 12 months:")
print(f"Avg at 3 months:  ${customers_12m['ltv_3m'].mean():,.2f}")
print(f"Avg at 6 months:  ${customers_12m['ltv_6m'].mean():,.2f}")
print(f"Avg at 12 months: ${customers_12m['ltv_12m'].mean():,.2f}")

For the 37,607 customers who reached 12 months:
Avg at 3 months:  $1,056.36
Avg at 6 months:  $2,668.40
Avg at 12 months: $6,088.94

Add Marketing Channel information

In [32]:
accounts_df = pd.read_csv(os.path.join(SYNTHETIC_DATA_PATH, '01_accounts.csv'))
accounts_df.head()

,account_id,acquisition_date,acquisition_channel,latent_quality_score,initial_plan,initial_seats
0,c5b3e930-e0f9-4699-9d1d-237f3f49338c,2022-01-01,Content/SEO,0.683571,Pro,17
1,4905e356-9284-4aae-838f-047e12e939bd,2022-01-01,Content/SEO,0.533081,Pro,15
2,c8b5ed1a-981f-466d-81ec-429fda2da095,2022-01-01,Paid Search,0.553785,Pro,14
3,bca12245-2269-4c6b-9058-06aabe1c72db,2022-01-01,Content/SEO,0.629417,Pro,17
4,529db1fe-d47e-441b-bbc3-4f684d401f45,2022-01-01,Content/SEO,0.794568,Basic,7

In [33]:
ltv_with_channel = ltv_summary.merge(
    accounts_df[['account_id', 'acquisition_channel']],
    on='account_id',
    how='left')

ltv_with_channel.head()

,account_id,total_ltv,max_tenure,ltv_3m,ltv_6m,ltv_12m,acquisition_channel
0,0001335f-4caf-44a5-ac03-77781677701b,1190,18,140.0,350.0,770.0,Referral
1,00014b2f-e3fd-4d84-9387-3cdc15676277,600,4,350.0,NaN,NaN,Referral
2,000315a9-0494-4966-a7c6-9bb524c0479a,14400,10,3200.0,8000.0,NaN,Referral
3,0003f03f-a362-4e8d-b2ed-3697df572960,900,4,600.0,NaN,NaN,Paid Social
4,0004c23a-4b4e-4fcc-aaf0-ec5aed4ba049,1450,5,550.0,NaN,NaN,Content/SEO

In [34]:
# Group by channel and calculate average LTV
ltv_by_channel = ltv_with_channel.groupby('acquisition_channel').agg({
    'ltv_3m': 'mean',
    'ltv_6m': 'mean', 
    'ltv_12m': 'mean',
    'total_ltv': 'mean'
}).round(2)

print(ltv_by_channel)

                      ltv_3m   ltv_6m  ltv_12m  total_ltv
acquisition_channel
Content/SEO          1185.03  2995.19  6829.07   11117.33
Paid Search           843.61  2134.59  4884.38    7745.00
Paid Social           669.18  1685.94  3763.05    6051.15
Partnership          1090.48  2792.96  6242.13   10398.83
Referral             1357.17  3442.57  7942.25   12996.77

In [35]:
# Merge quality scores with channel data
accounts_with_quality = accounts_df[['account_id', 'acquisition_channel', 'latent_quality_score']]

# Average quality by channel
quality_by_channel = accounts_with_quality.groupby('acquisition_channel')['latent_quality_score'].agg(['mean', 'count'])
print(quality_by_channel)

                         mean  count
acquisition_channel
Content/SEO          0.726352  24052
Paid Search          0.599272  17971
Paid Social          0.529698   6010
Partnership          0.700632   2896
Referral             0.793197   9071

Adding CAC

In [36]:
spend_df = pd.read_csv(os.path.join(SYNTHETIC_DATA_PATH, '04_marketing_spend.csv'))

spend_df.head()

        month      channel  base_spend  seasonality_factor         spend
0  2022-01-01  Paid Search       50000                 1.0  46633.136496
1  2022-01-01  Paid Social       30000                 1.0  29372.916230
2  2022-01-01  Content/SEO       15000                 1.0  13925.245961
3  2022-01-01     Referral        5000                 1.0   5061.074875
4  2022-01-01  Partnership       10000                 1.0  10445.003596

In [37]:
# Sum up all spend by channel
total_spend_by_channel = spend_df.groupby('channel')['spend'].sum().reset_index()
total_spend_by_channel.columns = ['channel', 'total_spend']

total_spend_by_channel

       channel   total_spend
0  Content/SEO  5.778217e+05
1  Paid Search  1.907933e+06
2  Paid Social  1.153032e+06
3  Partnership  3.845206e+05
4     Referral  1.935557e+05

In [38]:
# Count how many customers from each channel
customers_by_channel = accounts_df.groupby('acquisition_channel').size().reset_index()
customers_by_channel.columns = ['channel', 'customer_count']

customers_by_channel

       channel  customer_count
0  Content/SEO           24052
1  Paid Search           17971
2  Paid Social            6010
3  Partnership            2896
4     Referral            9071

In [39]:
# Merge spend and customer count
cac_df = total_spend_by_channel.merge(customers_by_channel, on='channel')

# Calculate CAC
cac_df['cac'] = cac_df['total_spend'] / cac_df['customer_count']

cac_df

       channel   total_spend  customer_count         cac
0  Content/SEO  5.778217e+05           24052   24.023852
1  Paid Search  1.907933e+06           17971  106.167302
2  Paid Social  1.153032e+06            6010  191.852311
3  Partnership  3.845206e+05            2896  132.776456
4     Referral  1.935557e+05            9071   21.337862

In [40]:
print("Spend vs Customers:")
print(cac_df)
print("\nBreakdown:")
for _, row in cac_df.iterrows():
    print(f"{row['channel']}:")
    print(f"  Total spend: ${row['total_spend']:,.2f}")
    print(f"  Customers: {row['customer_count']:,}")
    print(f"  CAC: ${row['cac']:.2f}")

Spend vs Customers:
       channel   total_spend  customer_count         cac
0  Content/SEO  5.778217e+05           24052   24.023852
1  Paid Search  1.907933e+06           17971  106.167302
2  Paid Social  1.153032e+06            6010  191.852311
3  Partnership  3.845206e+05            2896  132.776456
4     Referral  1.935557e+05            9071   21.337862

Breakdown:
Content/SEO:
  Total spend: $577,821.70
  Customers: 24,052
  CAC: $24.02
Paid Search:
  Total spend: $1,907,932.58
  Customers: 17,971
  CAC: $106.17
Paid Social:
  Total spend: $1,153,032.39
  Customers: 6,010
  CAC: $191.85
Partnership:
  Total spend: $384,520.62
  Customers: 2,896
  CAC: $132.78
Referral:
  Total spend: $193,555.75
  Customers: 9,071
  CAC: $21.34

In [41]:
# Look at the actual marketing spend data
spend_df = pd.read_csv('../../data/synthetic/04_marketing_spend.csv')

print("Marketing spend structure:")
print(spend_df.head(10))

print(f"\nTotal rows: {len(spend_df)}")
print(f"Date range: {spend_df['month'].min()} to {spend_df['month'].max()}")

# Check monthly spend by channel
monthly_avg = spend_df.groupby('channel')['spend'].mean()
print("\nAverage MONTHLY spend by channel:")
print(monthly_avg)

Marketing spend structure:
        month      channel  base_spend  seasonality_factor         spend
0  2022-01-01  Paid Search       50000                 1.0  46633.136496
1  2022-01-01  Paid Social       30000                 1.0  29372.916230
2  2022-01-01  Content/SEO       15000                 1.0  13925.245961
3  2022-01-01     Referral        5000                 1.0   5061.074875
4  2022-01-01  Partnership       10000                 1.0  10445.003596
5  2022-02-01  Paid Search       50000                 1.0  53116.954278
6  2022-02-01  Paid Social       30000                 1.0  29236.613523
7  2022-02-01  Content/SEO       15000                 1.0  14257.426375
8  2022-02-01     Referral        5000                 1.0   4785.453181
9  2022-02-01  Partnership       10000                 1.0  10145.238280

Total rows: 180
Date range: 2022-01-01 to 2024-12-01

Average MONTHLY spend by channel:
channel
Content/SEO    16050.602737
Paid Search    52998.127208
Paid Social    32028.677465
Partnership    10681.128277
Referral        5376.548573
Name: spend, dtype: float64

In [42]:
# When were customers actually acquired?
accounts_df['acquisition_date'] = pd.to_datetime(accounts_df['acquisition_date'])

print("Customer acquisition timeline:")
print(f"First customer: {accounts_df['acquisition_date'].min()}")
print(f"Last customer: {accounts_df['acquisition_date'].max()}")

print("\nCustomers by year:")
accounts_df['acq_year'] = accounts_df['acquisition_date'].dt.year
print(accounts_df['acq_year'].value_counts().sort_index())

Customer acquisition timeline:
First customer: 2022-01-01 00:00:00
Last customer: 2024-12-31 00:00:00

Customers by year:
acq_year
2022    20017
2023    20058
2024    19925
Name: count, dtype: int64

In [43]:
add_src_to_path()
import config

# Look for marketing spend config
marketing_params = [attr for attr in dir(config) if 'SPEND' in attr or 'MARKET' in attr or 'BASE' in attr]
print("Marketing-related config parameters:")
print(marketing_params)

Marketing-related config parameters:
['BASE_CHURN_PROBABILITY', 'BASE_CONTRACTION_PROBABILITY', 'BASE_DIR', 'BASE_DOWNGRADE_PROBABILITY', 'BASE_EXPANSION_PROBABILITY', 'BASE_MONTHLY_ACQUISITION_RATE', 'INITIAL_CUSTOMER_BASE']

In [44]:
# What's the average customer lifespan?
print(f"Average tenure: {customer_summary['max_tenure'].mean():.1f} months")
print(f"Average MRR: ${customer_summary['total_ltv'].mean() / customer_summary['max_tenure'].mean():,.2f}")

# Implied monthly churn
observed_churn = 1 / customer_summary['max_tenure'].mean()
print(f"Implied monthly churn: {observed_churn:.2%}")

Average tenure: 17.1 months
Average MRR: $577.24
Implied monthly churn: 5.86%

In [45]:
# Let's verify the actual average MRR
print("Checking MRR calculation:")

# Method 1: From revenue data
avg_mrr_from_revenue = revenue_df.groupby('account_id')['MRR'].mean().mean()
print(f"Average MRR (from revenue records): ${avg_mrr_from_revenue:,.2f}")

# Method 2: Total LTV / Average Tenure
avg_ltv = customer_summary['total_ltv'].mean()
avg_tenure = customer_summary['max_tenure'].mean()
implied_avg_mrr = avg_ltv / avg_tenure
print(f"Implied average MRR (LTV/tenure): ${implied_avg_mrr:,.2f}")

# Count breakdown
print(f"\nAverage LTV: ${avg_ltv:,.2f}")
print(f"Average Tenure: {avg_tenure:.1f} months")

Checking MRR calculation:
Average MRR (from revenue records): $577.21
Implied average MRR (LTV/tenure): $577.24

Average LTV: $9,852.38
Average Tenure: 17.1 months

In [46]:
target_ltv_cac_ratio = 4
realistic_cac = 165474 / target_ltv_cac_ratio

print(f"For LTV:CAC = 4:1")
print(f"Current LTV: ${165474:,.2f}")
print(f"Target CAC: ${realistic_cac:,.2f}")

For LTV:CAC = 4:1
Current LTV: $165,474.00
Target CAC: $41,368.50